/* Importa base */
@import url('estilo.css');

/* card de cadastro */
.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0; 
  gap: 20px;
  height: 65vh;
}

.cadastro form {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
  background-color: #ECDCCE; 
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cadastro h2 {
  text-align: center;
  margin: 0;
  color: #333;
}

.cadastro label {
  font-weight: bold;
  color: #555;
}

.cadastro input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.cadastro button {
  padding: 12px;
  background-color: #84593D; 
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cadastro button:hover {
  background-color: #c5a68f; 
}

/* Campo de upload de foto */
input[type="file"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 6px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}

/* Botões */
.form-buttons {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

/* estilo geral do select */
.cadastro select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
  appearance: none; /* tira o estilo padrão do navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.cadastro select optgroup {
  font-weight: bold;
  color: #444;
  background-color: #f2f2f2;
  padding: 5px;
}

.cadastro select option {
  padding: 10px;
  font-size: 15px;
}

.senha-container,
.senha-confirm-container {
  position: relative;
  display: flex;
  align-items: center;
}

.senha-container input,
.senha-confirm-container input{
  flex: 1;
  padding-right: 40px; /* espaço pro ícone */
}

.senha-container .material-icons ,
.senha-confirm-container .material-icons{
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #555;
  font-size: 1.5rem;
}
