/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #D7BDA6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
height: 100%;
margin: 0;
flex-grow: 1;
}

/* Navbar */
.navbar {
  background-color: #9D8576; /* marrom madeira */
  padding: 1rem;
}

.nav-content {
  display: flex;
  justify-content: space-between; /* logo à esquerda, ícones à direita */
  align-items: center;
}

.logo img {
  height: 50px;   /* ajusta o tamanho da logo */
  width: auto;    /* mantém proporção */
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  position: relative;
}

.nav-icons .material-icons {
  color: black;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Contador do carrinho */
.cart-link {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

/* Favorito clicável */
#favorite-icon {
  font-size: 1.8rem;
  transition: color 0.3s;
}

#favorite-icon.favorited {
  color: red;
}

/* Rodapé */

.footer {
  width: 100%; /* Faz o footer ocupar toda a largura da tela */
  background-color: #9D8576;/* Cor de fundo */
  color: #333; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 15px 0; /* Espaçamento interno */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 2rem; /* espaçamento dos icones */
  margin: 1rem 0;
}

.footer .social-icons img {
  width: 10px;   /* tamanho fixo */
  height: 10px;  /* deixa tudo igual */
  object-fit: contain; /* não deixa a foto distorcer */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.footer .social-icons img:hover {
  transform: scale(1.1); /* efeito zoom ao passar por cima */
}

.footer .material-icons {
  font-size: 2rem;
  cursor: pointer;
}
