/* Importa base */
@import url('estilo.css');

/* Hero */
.hero {
  text-align: center;
  padding:4rem 2rem;
  background-color: #D7BDA6;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
}

/* Galeria */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  align-items: start;
  height: 65vh;
  justify-content: center;
}

.item {
  background: #ECDCCE;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.item img {
  width: 40%;
  height: 200px;   /* define uma altura fixa */
  object-fit: cover; /* corta e ajusta a imagem proporcionalmente */
  border-radius: 8px;
}

.item h3 {
  margin: 0.5rem 0;
  font-weight: bold;
}

.item p {
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.actions .material-icons {
  color: #e53935;
  font-size: 1.5rem;
  cursor: pointer;
}

.fav {
  color: #e53935;
  font-size: 1.5rem;
  cursor: pointer;
}

.actions button {
  background:#9D8576;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.actions a {
  background:#9D8576;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
    text-decoration: none;
}

.actions button:hover {
  background: #D7BDA6;
}
