/* Importa base */
@import url('estilo.css');

/* LOGIN */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 20px;
  height: 65vh;
}


.login form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ECDCCE;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login h2 {
  text-align: center;
  margin: 0;
  color: #333;
}

.login label {
  font-weight: bold;
  color: #555;
}

.login input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Botão login */
.btn-login {
  padding: 12px;
  background-color: #84593D;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #c5a68f;
}

/* Link do "forgot password" */
.forgot {
  text-align: right;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot:hover {
  color: #84593D;
  text-decoration: underline;
}

.forgot {
  display: block;
  text-align: right;
  margin: 5px 0 15px;
  color: #84593D;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

.senha-container,
.senha-confirm-container {
  position: relative;
  display: flex;
  align-items: center;
}

.senha-container input,
.senha-confirm-container input{
  flex: 1;
  padding-right: 40px; /* espaço pro ícone */
}

.senha-container .material-icons ,
.senha-confirm-container .material-icons{
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #555;
  font-size: 1.5rem;
}
